@import url("../styles/header.css");
@import url("../styles/media-queries.css");
@import url("../styles/recipesPage.css");

* {
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 221, 180);
}


/* body index style */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

main .div_title_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

main .div_title_main p {
    margin: 20px 0;
}

main .div_title_main #welcome {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 70px;
    border-bottom: 3px solid orange;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

main .div_title_main #phrase-main {
    font-size: 40px;
}

main .div_title_main #ideas_recipe {
    font-style: italic;
    font-family: 'Georgia', serif;
    color: rgb(240, 138, 37);
    font-weight: 600;
    padding-top: 40px;
    border-bottom: 2px solid black;
    font-size: 60px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.highlight {
    color: rgb(240, 138, 37);
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}

main .img_body {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.picture-and-text {
    max-width: 400px;
    text-align: center;
}

.picture-and-text p {
    margin: 0 25px;
    padding-top: 15px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: bold;
}

.picture-and-text img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#image-big {
    object-position: 25% 75%;
}


/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: rgb(238, 177, 96);
    margin-top: 30px;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

footer p {
    padding-right: 20px;
    text-decoration: underline;
    align-items: center;
}

footer a {
    padding-left: 20px;
    text-decoration: underline;
}

footer img {
    width: 10px;
    height: 10px;
    padding-left: 5px;
}

#arrow-top {
    height: 15px;
    width: 18px;
}

.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}