@media (max-width: 1400px) {
    /* Recipes pages */
    main .img-and-name img {
        width: 650px !important;
        height: 450px !important;
    }

    main .img-and-name p {
        font-size: 50px !important;
        text-transform: uppercase;
        text-align: left;
        font-weight: bold;
        max-width: 1000px;
    }
}

@media (max-width: 1200px) {
    main .aboutUs-title {
        font-size: 45px !important;
        max-width: 800px !important;
    }
    
    main .aboutUs-text{
        font-size: 35px !important;
        max-width: 800px !important;   
    }
    
    main .aboutUs-end {
        font-size: 35px !important;
        max-width: 750px !important;
        margin-top: 60px !important;
    }
}

@media (max-width: 1080px) { 
    /* Main */
    main .div_title_main #welcome{
        font-size: 40px !important; 
    }

    main .div_title_main #phrase-main {
        font-size: 30px !important;
    }
    main .div_title_main #ideas_recipe {
        font-size: 40px !important;
    }

    .container {
        margin-top: 80px !important;
        gap: 80px !important;
    }

    main .img_body {
        width: 320px !important;
        height: 280px !important;
    }

    .picture-and-text {
        max-width: 320px !important;
    }

    .picture-and-text p {
        font-size: 25px !important;
    }

    /* footer */
    footer ul {
        gap: 80px !important;
    }

    /* Recipes pages */
    main .img-and-name img {
        width: 550px !important;
        height: 400px !important;
    }

    main .img-and-name p {
        font-size: 45px !important;
    }
}

@media (max-width: 970px) {
    #searchbar {
        font-size: 12px;
    }
    
    .foodSearch.active #searchbar {
        width: 100px;
        padding: 0 10px;
    }

    .iconMenu { 
        padding: 0;
    }

    header .icon_menu.icon-menu-active {
        padding-right: 130px;
    }

    .foodSearch.active ul {
        width: 150px;
    }

    header .recipes_menu li {
        font-size: 16px;
    }

    /* footer */
    footer ul {
        gap: 20px !important;
    }

    /* Recipes pages */
    main .img-and-name img {
        width: 450px !important;
        height: 350px !important;
    }

    main .img-and-name p {
        font-size: 35px !important;
        max-width: 1000px;
    }

    main .ingredients, .how-to-make {
        max-width: 500px !important; 
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 30px !important;
    }

    /* About Us */
    main .aboutUs-title {
        font-size: 40px !important;
        max-width: 750px !important;
        margin-top: 50px !important;
    }
    
    main .aboutUs-text{
        font-size: 30px !important;
        max-width: 750px !important;   
    }
    
    main .aboutUs-end {
        font-size: 30px !important;
        max-width: 650px !important;
    }

}

@media (max-width: 850px) {
    /* About Us */
    main .aboutUs-title {
        font-size: 35px !important;
        max-width: 700px !important;
        margin-top: 50px !important;
    }
    
    main .aboutUs-text{
        font-size: 25px !important;
        max-width: 600px !important;   
    }
    
    main .aboutUs-end {
        font-size: 25px !important;
        max-width: 600px !important;
        margin-top: 94px !important;
    }
}

@media (max-width: 750px) {
    /* footer */
    footer ul {
        gap: 10px !important;
    }

    /* Recipes pages */
    main .img-and-name {
        gap: 70px !important;
        margin-top: 70px !important; 
    }

    main .img-and-name img {
        width: 400px !important;
        height: 300px !important;
    }

    main .img-and-name p {
        font-size: 30px !important;
    }

    main .ingredients, .how-to-make {
        max-width: 400px !important; 
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 25px !important;
    }
} 

@media (max-width: 710px) {
    #searchbar {
        font-size: 12px;
    }
    
    .foodSearch.active #searchbar {
        width: 70px;
        padding: 0 10px;
    }

    .iconMenu { 
        padding: 0;
    }

    header .icon_menu.icon-menu-active {
        padding-right: 100px;
    }

     /* Search Menu Options */ 
    .foodSearch.active ul {
        width: 120px;
    }

    header .recipes_menu li {
        font-size: 16px;
    }

    /* main */

    main .div_title_main #welcome{
        font-size: 30px !important; 
    }

    main .div_title_main #phrase-main {
        font-size: 20px !important;
    }
    main .div_title_main #ideas_recipe {
        font-size: 30px !important;
    }
    
    .container {
        margin-top: 60px !important;
        gap: 60px !important;
    }

    main .img_body {
        width: 280px !important;
        height: 250px !important;
    }

    .picture-and-text {
        max-width: 320px !important;
    }

    .picture-and-text p {
        font-size: 25px !important;
    }

    /* footer */
    footer ul {
        display: none !important;
    }

    .footer-text {
        font-size: 12px !important;
    }

    #footer-logo {
        width: 30px !important;
        height: 30px !important;
    }
}
 
@media (max-width: 650px) {

    /* menu options css */
    header .icon_menu {
        display: inline;
        width: 30px;
        height: 30px;
    }

    .menuToggle:checked + .menu_icon .icon_close {
        display: inline;
        width: 20px;
        height: 20px;
        padding-left: 3px;
    }


    /* title and logo css */
    header .img_header img {
        display: flex;
        justify-content: center;
        width: 70px;
        height: 70px;
    }
    
    header .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }

    /* search logo css */
    header .search_header .foodSearch button #search {
        display: flex;
        width: 30px;
        height: 30px;
    }

    header .menu_bar {
        font-size: 20px;
    }

    .menu_item {
        font-size: 20px;
    }

    .menu_item .arrow {
        font-size: 14px;
    }

    header .opt_menu {
        top: 9%;
        padding: 12px;
        width: 145px;
    }

    .foodSearch.active ul {
        width: 100px;
    }

    header .recipes_menu li {
        font-size: 12px;
    }

    /* main */

    main .div_title_main {
        margin-top: 30px !important;
    }

    main .div_title_main #welcome{
        font-size: 25px !important; 
    }

    main .div_title_main #phrase-main {
        font-size: 20px !important;
    }
    main .div_title_main #ideas_recipe {
        font-size: 25px !important;
    }

    .container {
        margin-top: 50px !important;
        gap: 50px !important;
    }

    main .img_body {
        width: 230px !important;
        height: 200px !important;
    }

    .picture-and-text {
        max-width: 300px !important;
    }

    .picture-and-text p {
        font-size: 20px !important;
    }

    /* Recipes pages */
    main .img-and-name {
        gap: 50px !important;
        margin-top: 60px !important; 
    }

    main .img-and-name img {
        width: 350px !important;
        height: 250px !important;

    }

    main .img-and-name p {
        font-size: 28px !important;
    }

    main .ingredients, .how-to-make {
        max-width: 350px !important;
        margin-top: 60px !important;
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 25px !important;
    }

    main .ingredients li, .how-to-make li {
        font-size: 18px !important;
    }

    /* About Us */
    main .aboutUs-title {
        font-size: 30px !important;
        max-width: 650px !important;
        margin-top: 50px !important;
    }
    
    main .aboutUs-text{
        font-size: 22px !important;
        max-width: 500px !important;   
    }
    
    main .aboutUs-end {
        font-size: 20px !important;
        max-width: 450px !important;
        margin-top: 50px !important;
    }
}

@media (max-width: 560px) {
    #searchbar {
        font-size: 13px;
    }

    #searchbar::placeholder {
        font-size: 10px;
    }
    
    .foodSearch.active #searchbar {
        width: 50px;
        padding: 0 10px;
    }

    .iconMenu { 
        padding: 0;
    }

    header .icon_menu.icon-menu-active {
        padding-right: 70px;
    }

    /* main */


    main .div_title_main #phrase-main {
        font-size: 18px !important;
    }

    .container {
        margin-top: 40px !important;
        gap: 40px !important;
    }

    main .img_body {
        width: 200px !important;
        height: 170px !important;
    }

    .picture-and-text {
        max-width: 280px !important;
    }

    .picture-and-text p {
        font-size: 17px !important;
    }

    /* Recipes pages */
    main .img-and-name img {
        width: 300px !important;
        height: 240px !important;
    }

    main .img-and-name p {
        font-size: 25px !important;
    }

    main .ingredients, .how-to-make {
        max-width: 300px !important; 
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 25px !important;
    }

    main .ingredients li, .how-to-make li {
        font-size: 15px !important;
    }

    /* About Us */
    main .aboutUs-title {
        font-size: 25px !important;
        max-width: 600px !important;
        margin-top: 50px !important;
    }
    
    main .aboutUs-text{
        font-size: 20px !important;
        max-width: 400px !important;   
    }
    
    main .aboutUs-end {
        font-size: 18px !important;
        max-width: 350px !important;
    }
}


@media (max-width: 450px) {
    /* menu options css */
    header .icon_menu {
        display: inline;
        width: 20px;
        height: 20px;
    }
    
    .menuToggle:checked + .menu_icon .icon_close {
        display: inline;
        padding-left: 0;
        width: 15px;
        height: 15px;
    }
    
    
    /* title and logo css */
    header .img_header img {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
    
    header .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }
    
    /* search logo css */
    header .search_header .foodSearch button #search {
        display: flex;
        width: 20px;
        height: 20px;
    }
    
    header .menu_bar {
        font-size: 12px;
    }
    
    .menu_item {
        font-size: 12px;
    }
    
    .menu_item .arrow {
        font-size: 7px;
    }
    
    header .opt_menu {
        top: 9%;
        padding: 8px;
        width: 90px;
    }
    
    .foodSearch.active ul {
        width: 50px;
        height: 200px;
        top: 8%;
        right: 8%;
    }
    
    header .recipes_menu li {
        font-size: 8px;
    }
    
    .recipes_menu::-webkit-scrollbar {
        width: 0px;
    }
    
    /* main */

    main .div_title_main { 
        margin-top: 0 !important;
    }
    
    main .div_title_main #welcome{
        font-size: 20px !important; 
    }
    
    main .div_title_main #phrase-main {
        font-size: 16px !important;
    }
    main .div_title_main #ideas_recipe {
        font-size: 20px !important;
    }

    .container {
        margin-top: 30px !important;
        gap: 30px !important;
    }

    main .img_body {
        width: 180px !important;
        height: 150px !important;
    }

    .picture-and-text {
        max-width: 250px !important;
    }

    .picture-and-text p {
        font-size: 15px !important;
    }

    /* Recipes pages */
    main .img-and-name {
        gap: 50px !important;
        margin-top: 50px !important; 
    }

    main .img-and-name img {
        width: 220px !important;
        height: 170px !important;

    }

    main .img-and-name p {
        font-size: 22px !important;
    }

    main .ingredients, .how-to-make {
        max-width: 250px !important;
        margin-top: 50px !important;
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 20px !important;
    }

    main .ingredients li, .how-to-make li {
        font-size: 15px !important;
    }

    /* About Us */
    main .aboutUs-title {
        font-size: 22px !important;
        max-width: 500px !important;
        margin-top: 40px !important;
    }
    
    main .aboutUs-text{
        font-size: 15px !important;
        max-width: 300px !important;
        margin-top: 60px;   
    }
    
    main .aboutUs-end {
        font-size: 15px !important;
        max-width: 300px !important;
    }
}

@media (max-width: 400px) {
    #searchbar {
        font-size: 8px;
    }
    
    .foodSearch.active #searchbar {
        width: 50px;
        padding: 0 0px;
    }

    .iconMenu { 
        padding: 0;
    }

    header .icon_menu.icon-menu-active {
        padding-right: 60px;
    }
}

@media (max-width: 376px) {
    /* menu options css */
    header .icon_menu {
        display: inline;
        width: 20px;
        height: 20px;
    }
    
    .menuToggle:checked + .menu_icon .icon_close {
        display: inline;
        padding-left: 0;
        width: 15px;
        height: 15px;
    }
    
    
    /* title and logo css */
    header .img_header img {
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
        
    header .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-weight: bold;
    }
    
    /* search logo css */
    header .search_header .foodSearch button #search {
        display: flex;
        width: 20px;
        height: 20px;
    }

    header .menu_bar {
        font-size: 12px;
    }

    .menu_item {
        font-size: 12px;
    }

    .menu_item .arrow {
        font-size: 7px;
    }

    header .opt_menu {
        top: 12%;
        padding: 8px;
        width: 90px;
    }

    .foodSearch.active ul {
        width: 50px;
        height: 200px;
        top: 11%;
        right: 8%;
    }

    header .recipes_menu li {
        font-size: 8px;
    }

    .recipes_menu::-webkit-scrollbar {
        width: 0px;
    }

    /* main */

    main .div_title_main {
        margin-top: 20px !important;
    }

    main .div_title_main #welcome{
        font-size: 15px !important;
        margin-top: 40px !important; 
    }

    main .div_title_main #phrase-main {
        font-size: 13px !important;
    }
    main .div_title_main #ideas_recipe {
        font-size: 15px !important;
    }

    .container {
        margin-top: 20px !important;
        gap: 30px !important;
    }

    main .img_body {
        width: 130px !important;
        height: 100px !important;
    }

    .picture-and-text {
        max-width: 200px !important;
    }

    .picture-and-text p {
        font-size: 10px !important;
        padding-top: 10px !important;
    }

    /* Recipes pages */
    main .img-and-name {
        gap: 45px !important;
        margin-top: 40px !important; 
    }

    main .img-and-name img {
        width: 180px !important;
        height: 150px !important;

    }

    main .img-and-name p {
        font-size: 19px !important;
    }

    main .ingredients, .how-to-make {
        max-width: 200px !important;
        margin-top: 45px !important;
    }
    
    main .ingredients h3, .how-to-make h3 {
        font-size: 18px !important;
    }

    main .ingredients li, .how-to-make li {
        font-size: 13px !important;
    }

    /* About Us */
    main .aboutUs-title {
        font-size: 20px !important;
        max-width: 400px !important;
        margin-top: 30px !important;
    }
    
    main .aboutUs-text{
        font-size: 15px !important;
        max-width: 200px !important;   
        margin-top: 30px !important;
    }
    
    main .aboutUs-end {
        font-size: 15px !important;
        max-width: 200px !important;
        margin-top: 50px !important;
    }
}

